body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas, img {
  position: absolute;
}

#resultContainer{
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.row{
  margin: 20px!important;
}

.center{
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  margin-top: 30px;
}

.stats{
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
}